#wheel>=0.29.0
#using pip-custom-platform
# pip-custom-platform currently does not work with pip>=19.3
#pip-custom-platform
git+https://github.com/asottile/pip-custom-platform@master
setuptools>=27.2.0
packaging
ninja
cmake
Cython>=0.25.2
numpy
scikit-build
setuptools_scm
